{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
<div class="col-sm-10 text-white">
    <h3 class="text-white my-5">About Page</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore quos quod laboriosam cupiditate sunt unde quia iste! Iste velit est, ipsum quia quibusdam rerum amet optio voluptatem, ad nesciunt, ab numquam a totam veritatis expedita consequatur. Quisquam pariatur praesentium dolor, aliquam obcaecati sit, error eveniet similique, distinctio veritatis minima. Neque.</p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur aliquid praesentium deserunt officiis dicta accusamus veniam, molestias libero quae fuga amet expedita nemo mollitia reiciendis sint dolore omnis veritatis quibusdam unde. Quidem, voluptas unde.
    </p>
</div>

{% endblock content %}


